@import url("reset.css");

@import url("https://fonts.googleapis.com/css?family=Poppins:400,600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Inter:,regular,600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Cormorant+Infant:700&display=swap");

body{
	font-family: "Inter", sans-serif;
	font-size: 18px;
	color: #7D7D7D;
	line-height: 1.46;
}

/*===============  project consalting  ===============*/
/*===============  screen 1  ===============*/

.consalting-scr-1 {
	color: #7D7D7D;
	font-family: Inter;
	font-style: normal;
	font-weight: 400;
	font-size: 0px;
	line-height: 1.46;
	padding: 20px 0;
}
.blocks-scr-1{
	max-width: 692px;
	margin-left: 528px;
}
.block1 p{
	font-size: 18px;
}
.consulting-main-title {
	color: #37393F;
	font-family: Poppins;
	font-size: 30px;
	font-style: normal;
	font-weight: 600;
	line-height: 1.27;
	margin-bottom: 12px;
}
.block2 p{
	font-size: 18px;
	margin-bottom: 40px;
}
.consulting-purple-title {
	color: #6B77E5;
	font-family: Poppins;
	font-size: 20px;
	font-style: normal;
	font-weight: 600;
	line-height: 1.27;
	margin-top: 40px;
	margin-bottom: 12px;
}
.block3 p{
	font-size: 18px;
	width: 692px;
}
.pic-desk{
	width: 331px;
}
.photo-list{
	display: inline-block;
	margin-left: 29px;
	margin-bottom: 50px;
}
.consulting-list-title {
	color: #37393F;
	font-family: Poppins;
	font-size: 25px;
	font-style: normal;
	font-weight: 600;
	line-height: 1.27;
	margin-bottom: 15px;
}
.consulting-blue-title {
	width: 332px;
	color: #40DDB6;
	font-family: Poppins;
	font-size: 20px;
	font-style: normal;
	font-weight: 600;
	line-height: 1.27;
	margin-bottom: 21px;
}
.consulting-list-benefits {
	font-size: 18px;
}
.list-item {
	padding-left: 35px;
	background: url("../img/item_list.png") left center no-repeat ;
}
.list-item:not(:last-child) {
	margin-bottom: 30px;
}
.block4 p{
	font-size: 18px;
	margin-bottom: 42px;
}
.consulting-sub-title {
	color: #37393F;
	font-family: Poppins;
	font-size: 30px;
	font-style: normal;
	font-weight: 600;
	line-height: 1.27;
	margin-bottom: 16.5px;
}

/*===============  screen 2  ===============*/

.consalting-scr-2 {
	color: #7D7D7D;
	font-family: Inter;
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 1.46;	
	padding: 20px 0;
}
.block-scr-2{
	max-width: 673px;
	margin-left: 528px;
}
.consulting-mini-title {
	color: #37393F;
	font-weight: 500;
	line-height: normal;
	margin-bottom: 16px;
}

.consulting-mini-title:before{
	content: "";
	background: url("../img/rectangle_8.png") left center no-repeat;
	width: 12px;
	height: 12px;
	display: inline-block;
}

.consulting-business-plan-title {
	width: 414px;
	color: #37393F;
	font-family: Poppins;
	font-size: 40px;
	font-style: normal;
	font-weight: 700;
	line-height: 1.21;
	margin-bottom: 10px;
}
.text:not(:last-child) {
	margin-bottom: 26px;
}
.boxes {
	margin-top: 48px;
}
.box1,
.box2 {
	border: 1px solid #E3E3E3;
	padding: 28px 41px 28px 38px;
	margin-bottom: 31px;
	background: url("../img/item_list.png") 38px 28px no-repeat ;
}
.box1:hover{
	text-decoration: underline;
	box-shadow: inset 0 0 15px 1px #E3E3E3;
}
.box2:hover{
	text-decoration: underline;
	box-shadow: inset 0 0 15px 1px #E3E3E3;
}

.box-title {
	color: #37393F;
	font-family: Poppins;
	font-size: 20px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	padding-bottom: 20px;
	padding-left: 46px;
}
.box-text{
	margin-left: 46px;
}

.link{
	margin-top: 48px;
}

.button {
	width: 200px;
	height: 65px;
	background: #6B77E5;
	padding: 21px 35px 22px 35px;
	border: 1px solid #6B77E5;
	color: #FFF;
	text-align: center;
	font-family: Inter;
	font-size: 18px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
}

.button:hover {
	color: #6B77E5;
	background-color: #ffffff;
	text-decoration: underline #6B77E5;
	border: 1px solid #6B77E5;
	transition: all 0.6s ;
}


/*===============  screen 3  ===============*/

.consalting-scr-3{
	max-width: 1220px;
	padding: 20px 0;
	margin: 20px auto 50px;
	padding-top: 100px;
	color: #7D7D7D;
	font-family: Inter;
	font-size: 0px;
	font-style: normal;
	font-weight: 400;
	line-height: 1.46;
}
.consulting-mini-title2 {
	color: #37393F;
	font-weight: 500;
	font-size: 18px;
	line-height: normal;
	margin-bottom: 16px;
	text-align: center;
}

.consulting-mini-title2:before{
	content: "";
	background: url("../img/rectangle_8.png") left center no-repeat;
	width: 12px;
	height: 12px;
	display: inline-block;
}
.work-title {
	color: #37393F;
	text-align: center;
	font-family: Poppins;
	font-size: 40px;
	font-style: normal;
	font-weight: 700;
	line-height: 1.21;
	margin-bottom: 41px;
}
.sections {
	display: inline-block;
	font-size: 0px;
}
.section-make,
.section-cons,
.section-enjoy {
	display: inline-block;
	color: #7D7D7D;
	text-align: center;
	font-family: Inter;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: 1.46;
	display: inline-block;
	max-width: 386px;
	min-height: 301px;
	padding: 58px 43px;
	background: #f4f4f4;
	margin-top: 41px;
}
.section-title {
	color: #37393F;
	text-align: center;
	font-family: Poppins;
	font-size: 25px;
	font-style: normal;
	font-weight: 600;
	line-height: 1.27;
	margin-bottom: 16px;
}
.mini-link {
	width: 111px;
	color: #6B77E5;
	text-align: center;
	font-family: Inter;
	font-size: 18px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	text-transform: capitalize;
	margin-top: 37px;
	margin-left: 94px;
}
.mini-link:hover{
	text-decoration: underline #7D7D7D;
	color: #40DDB6;
}
.section-make{
	margin-right: 31px;
}
.section-make::before {
	content: '';
	display: block;
	width: 72px;
	height: 72px;
	background: url('../img/cons_icon_1.png');
	margin: -95px auto 38px;
}
.section-cons {
	margin-right: 31px;
}
.section-cons::before {
	content: '';
	display: block;
	width: 72px;
	height: 72px;
	background: url('../img/cons_icon_2.png');
	margin: -95px auto 38px;
}
.section-enjoy::before {
	content: '';
	display: block;
	width: 72px;
	height: 72px;
	background: url('../img/cons_icon_3.png');
	margin: -95px auto 38px;
}

/*===============  project pretty stones  ===============*/

.pretty-stones-scr1 {
	width: 1214px;
	height: 674px;
	padding: 20px 0;
	margin: auto;
	color: #000;
	font-family: Cormorant Infant;
	font-size: 0px;
	font-style: normal;
	font-weight: 700;
	line-height: 1.40;
	font-size: 0px;
}
.main-block-pretty-stones {
	display: inline-block;
	max-width: 455px;
	margin-right: 5px;
	vertical-align: top;
	padding-top: 150px;
}
.title-pretty-stones {
	font-size: 55px;
	font-weight: 700;
	line-height: 1.15;
}
.title-pretty-stones::after{
	content: "";
	width: 60%;
	height: 3px;
	display: block;
	background: #78473B;
}

.block-pretty-stones-2 {
	display: inline-block;
	max-width: 335px;
	font-size: 24px;
	line-height: 1.40;
	margin-right: 32px;
	vertical-align: top;
	margin-top: 32px;
}

.goods1::before {
	content: '';
	display: block;
	width: 344px;
	height: 390px;
	background: url('../img/jewel1.png') center / cover no-repeat;
	margin-bottom: 25px;
}
.price1 {
	font-size: 24px;
}
.block-pretty-stones-3 {
	display: inline-block;
}
.category {
	font-size: 46px;
	width: 339px;
	font-style: normal;
	font-weight: 700;
	line-height: 1.13;

}
.goods2 {
	font-size: 24px;
}

.goods:hover{
	text-shadow: -1px -2px 3px #000000;
	transition: all 0.3s ;
}

.goods2::before {
	content: '';
	display: block;
	width: 344px;
	height: 390px;
	background: url('../img/jewel2.png') center / cover no-repeat;
	margin-bottom: 25px;
	margin-top: 31px;
}

.price2 {
	font-size: 24px;
}

/*===============  game  ===============*/


.game {
	width: 1000px;
	height: 1600px;
	background-color: #d0cbcb;
	padding: 20px 0;
	margin: 50px auto;
}
.game-title {
	color: #000000;
	font-family: Inter;
	font-size: 30px;
	font-style: normal;
	font-weight: 600;
	line-height: 1.27;
	text-align: center;
}
.game-line-1 {
	margin-top: 20px;
	background: url('../img/game_line_start.png') 0 0 / 62px 125px no-repeat;
	width: 62px;
	height: 125px;
	margin-left: 60px;
}

.game-line-1:hover + .game-line-2,
.game-line-2:hover{
	visibility: visible;
}

.game-line-2 {
	background: url('../img/game_line_1.png') 0 0 / 792px 62px no-repeat;
	width: 792px;
	height: 62px;
	margin-left: 60px;
	visibility: hidden;
}

.game-line-2:hover + .game-line-3,
.game-line-3:hover{
	visibility: visible;
}

.game-line-3 {
	background: url('../img/game_line_2.png') 0 0 / 62px 300px no-repeat;
	width: 62px;
	height: 300px;
	margin-left: 762px;
	visibility: hidden;
}

.game-line-3:hover + .game-line-4,
.game-line-4:hover{
	visibility: visible;
}

.game-line-4 {
	background: url('../img/game_line_3.png') 0 0 / 416px 62px no-repeat;
	width: 416px;
	height: 62px;
	margin-left: 406px;
	visibility: hidden;
}

.game-line-4:hover + .game-line-5,
.game-line-5:hover{
	visibility: visible;
}

.game-line-5 {
	background: url('../img/game_line_4.png') 0 0 / 62px 208px no-repeat;
	width: 62px;
	height: 208px;
	margin-left: 406px;
	visibility: hidden;
}

.game-line-5:hover + .game-line-6,
.game-line-6:hover{
	visibility: visible;
}

.game-line-6 {
	background: url('../img/game_line_finish.png') 0 0 / 700px no-repeat;
	width: 700px;
	height: 700px;
	margin-left: 150px;
	visibility: hidden;
}