@import url("reset.css");

p {
	color: green; 
}

a,
.title {
	color: rgb(158, 154, 154); 
}

a.book {
	color: purple;
}

.info {
	color: rgb(58, 151, 151);
}

.biography {
	color: brown;
}

mark {
	color: rgb(0, 0, 0);
}
