@import url("reset.css");

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css?family=DM+Serif+Text:regular');



body{
	font-family: "Inter", sans-serif;
	font-size: 18px;
	color: #7D7D7D;
}

/*===============  project 1  ===============*/

.project-1 {
	max-width: 692px;
	margin: 0 auto;
	padding: 50px 0;
}

.p1-photo 
.p1-photo-p-a-l {
	max-width: 100%;
}

.p1-photo{
	margin-bottom: 37.5px;
}

.p1-title-2 {
	color: #37393F;
	font-family: Poppins;
	font-size: 30px;
	font-style: normal;
	font-weight: 600;
	line-height: 1.27;
	margin-bottom: 12.5px;
}

.p1-info {
	font-family: Inter;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: 1.46;
}

.p1-info p {
	margin-bottom: 40px;
}

.p1-title-4 {
	color: #6B77E5;
	font-family: Poppins;
	font-size: 20px;
	font-style: normal;
	font-weight: 600;
	line-height: 1.27;
	margin-bottom: 14px;
}

.p1-content-block {
	font-size: 0px;
}

.p1-photo-p-a-l {
	width: 331px;
	margin-right: 29px;
}

.p1-photo-and-list-info {
	display: inline-block;
	width: 332px;
	font-size: 18px;
}

.p1-title-3 {
	color: #37393F;
	font-family: Poppins;
	font-size: 25px;
	font-style: normal;
	font-weight: 600;
	line-height: 1.27;
	margin-bottom: 18px;
}

.p1-title-4-photo-and-list {
	color: #40DDB6;
	font-family: Poppins;
	font-size: 20px;
	font-style: normal;
	font-weight: 600;
	line-height: 1.27;
	margin-bottom: 23.5px;
}

.p1-items li{
	font-family: Inter;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	margin-bottom: 35px;
}




/*===============  project 2  ===============*/


.project-2{
	max-width: 1170px;
	margin: 0 auto;
	padding: 50px 0;
}

.p2-content-block {
	font-size: 0px;
}

.p2-info{
	font-size: 20px;
	display: inline-block;
}

.p2-title-5 {
	color: #D06B00;
	font-family: Inter;
	font-size: 28px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	max-width: 183px;
	margin-top: 21px;
	margin-bottom: 13px;
}

.p2-title-1 {
	color: #0E333D;
	font-family: DM Serif Text;
	font-size: 59px;
	font-style: normal;
	font-weight: 400;
	line-height: 1.46;
	max-width: 526px;
	margin-bottom: 25px;
}

.p2-text {
	color: #474747;
	font-family: Inter;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: 1.80;
	max-width: 564px;
}

.p2-photo-1 {
	width: 273px;
	margin-left: 38px;
}

.p2-photo-2 {
	width: 273px;
	margin-left: 22px;
}


/*===============  footer  ===============*/

.center{
	text-align: center;
	padding-bottom: 50px;
	color: #D06B00;
	font-family: Poppins;
	font-size: 70px;
	font-style: normal;
	font-weight: 400;
	line-height: 1.12;
}

.underline{
	text-decoration: underline;
	color: #37393F;
}