@import url("reset.css");

@import url("https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Inter:,regular,500,600&display=swap");
@import url("https://fonts.googleapis.com/css?family=Cormorant+Infant:700&display=swap");

@font-face{
	font-family: "Causten";
	src: 
		url("../fonts/Causten-Regular.woff2") format("woff2"),
		url("../fonts/Causten-Regular.woff") format("woff"); 
	font-weight: normal;
	font-display: swap;
	font-style: normal;
}

@font-face{
	font-family: "Causten";
	src: 
		url("../fonts/causten-extra-bold.woff2") format("woff2"),
		url("../fonts/causten-extra-bold.woff") format("woff"); 
	font-weight: 800;
	font-display: swap;
	font-style: normal;
}

@font-face{
	font-family: "Causten";
	src: 
		url("../fonts/causten-light.woff2") format("woff2"),
		url("../fonts/causten-light.woff") format("woff"); 
	font-weight: 300;
	font-display: swap;
	font-style: normal;
}

@font-face{
	font-family: "Core Sans C";
	src: 
		url("../fonts/CoreSansC-65Bold.woff2") format("woff2"),
		url("../fonts/CoreSansC-65Bold.woff") format("woff"); 
	font-weight: 800;
	font-display: swap;
	font-style: normal;
}


body{
	font-family: "Inter", sans-serif;
	font-size: 18px;
	color: #7D7D7D;
	line-height: 1.46;
}

/*===============  project consalting  ===============*/
/*===============  screen 1  ===============*/

.project-consalting-scr1 {
	max-width: 1220px;
	padding: 50px 0;
	margin: auto;
}
.mini-title {
	background: url("../img/rectangle_8.png") 532px center / 12px no-repeat ;
	text-align: center;
}
.title5 {
	margin-left: 30px;
	color: #37393F;
	font-family: Inter;
	font-size: 18px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
}
.big-title {
	margin-top: 14px;
	margin-bottom: 14px;
	color: #37393F;
	text-align: center;
	font-family: Poppins;
	font-size: 40px;
	font-style: normal;
	font-weight: 700;
	line-height: 1.21;
}
.about-events {
	text-align: center;
	color: #7D7D7D;
	font-family: Inter;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: 1.46;
}
.events {
	background: 
	url("../img/cons_pic_1.png") 0px 47px / 384px no-repeat,
	url("../img/cons_pic_2.png") 418px 47px / 384px no-repeat,
	url("../img/cons_pic_3.png") 836px 47px / 384px no-repeat,
	url("../img/cons_pic_4.png") 0px 687px / 384px no-repeat,
	url("../img/cons_pic_5.png") 418px 687px / 384px no-repeat,
	url("../img/cons_pic_6.png") 836px 687px / 384px no-repeat;
	color: #7D7D7D;
	font-family: Inter;
	font-size: 0px;
	font-style: normal;
	font-weight: 400;
	line-height: 1.46;
}
.event1, 
.event2, 
.event4,
.event5 {
	padding-top: 548px;
	display: inline-block;
	width: 384px;
	margin-right: 34px;
	font-size: 14px;
}

.event3,
.event6 {
	padding-top: 548px;
	display: inline-block;
	width: 384px;
	font-size: 14px;
}


.date{
	background: url("../img/group_22.svg") left center / 22px no-repeat;
	padding-left: 24px;
}

.event-title {
	color: #37393F;
	font-family: Poppins;
	font-size: 20px;
	font-style: normal;
	font-weight: 600;
	line-height: 1.27;
	margin-top: 24px;
	margin-bottom: 10px;
}

/*===============  screen 2  ===============*/

.project-consalting-scr2 {
	max-width: 1220px;
	margin: auto;
	font-size: 0px;
}
.inf {
	padding-left: 547px;
	width: 673px;
}
.minititle {
	background: url("../img/rectangle_8.png") left center no-repeat ;
	color: #37393F;
	font-family: Inter;
	font-size: 18px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	padding-left: 18px;
	width: 200px;
	margin-bottom: 16px;
}
.main-title {
	color: #37393F;
	font-family: Poppins;
	font-size: 40px;
	font-style: normal;
	font-weight: 700;
	line-height: 1.21;
	width: 414px;
	margin-bottom: 20px;
}
.about-project {
	color: #7D7D7D;
	font-family: Inter;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: 1.47;
	width: 673px;
	margin-bottom: 20px;
}
.list-item{
	color: #37393F;
	font-family: Poppins;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	width: 392px;
	margin-bottom: 23px;
	background: url("../img/item_list.png") left center no-repeat ;
	padding-left: 35px;
}
.boxes{
	width: 617px;
}
.box-1 {
	border: 1px solid #E3E3E3;
	display: inline-block;
	width: 296px;
	padding-left: 91px;
	padding-top: 31px;
	padding-bottom: 32px;
	background: url("../img/experience.png") 31px 32px no-repeat ;
}
.box-title {
	color: #37393F;
	font-family: Poppins;
	font-size: 20px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
}
.mini-text {
	color: #7D7D7D;
	font-family: Inter;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 1.35;
	width: 173px;
}
.box-2 {
	margin-left: 21px;
	border: 1px solid #E3E3E3;
	display: inline-block;
	width: 296px;
	padding-left: 91px;
	padding-top: 31px;
	padding-bottom: 32px;
	background: url("../img/awards.png") 31px 32px no-repeat ;
}
.button-2 {
	margin-top: 37px;
	width: 184px;
	background: #6B77E5;
	padding: 21px 27px 22px 27px;
	color: #FFF;
	font-family: Inter;
	font-size: 18px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
}

/*===============  project euphoria  ===============*/
/*===============  screen 1  ===============*/

.project-euphoria-scr1 {
	max-width: 1240px;
	padding: 50px 0;
	margin: 0 auto;
	color: #807D7E;
	font-family: Causten;
	font-size: 20px;
	line-height: 33.5px;
	font-style: normal;
	font-weight: 400;
}
.title-clothing {
	background: url("../img/rectangle_21.png") 0 0 / 6px no-repeat ;
	padding-left: 21px;
}
.title-euphoria-1,
.sub-title {
	font-family: Core Sans C;
	font-style: normal;
	font-weight: 600;
	letter-spacing: 0.56px;
	margin-bottom: 30px;
}
.title-euphoria-1 {
	color: #3C4242;
	font-size: 28px;
}
.euphoria-info {
	padding-left: 21px;
	max-width: 1219px;
	letter-spacing: 0.4px;
	margin-bottom: 20px;
}
.sub-title {
	color: #807D7E;
	font-size: 20px;
	margin-bottom: 25px;
	margin-top: 25px;
}
.marker {
	color: #807D7E;
	font-family: Causten;
	font-size: 20px;
	font-style: normal;
	font-weight: 700;
	line-height: 33.5px;
}

/*===============  screen 2  ===============*/

.project-euphoria-scr2 {
	width: 1240px;
	height: 640px;
	margin: 0 auto;
	padding-top: 183px;
	padding-left: 74px;
	font-family: Causten;
	line-height: normal;
	font-style: normal;
	color: #FFF;
	background: 
	url("../img/plants.png") left center / 614px no-repeat, 
	url("../img/people.png") right center / 662px no-repeat;
}
.information {
	font-size: 0px;
}
.pic-title {
	height: 84px;
	font-family: Core Sans C;
	font-size: 34px;
	font-weight: 800;
	line-height: 50px;
	margin-bottom: 30px;
}
.text1 {
	width: 451px;
	font-size: 20px;
	font-weight: 300;
	letter-spacing: 1px;
	margin-bottom: 50px;
}
.button-1 {
	width: 168px;
	padding: 12px 44px;
	border-radius: 8px;
	background: #FFF;
	color: #3C4242;
	text-align: center;
	font-size: 18px;
	font-weight: 600;
}
