@import url("reset.css");

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');

@font-face{
	font-family: "ahs";
	src: 
		url(../fonts/ahs.woff2) format(woff2),
		url(../fonts/ahs.woff) format(woff);
	font-weight: normal;
	font-display: swap;
	font-style: normal;
}


body{
	font-family: "Inter", sans-serif;
	font-size: 14px;
	color: #7D7D7D;
}


* {
	color: black;
}


.title{
	color: #941010;
	font-family: ahs;
	text-shadow: -5px -3px 4px #37393F;
	padding: 5px;
	font-size: 80px;
}

.sub-title{
    color: #941010;
	font-family: ahs;
	padding: 5px;
	font-size: 30px;
}

.center{
	text-align: center
}

.season{
	color: #7D7D7D;
	font-size: 18px;
	font-family: Inter;
	font-weight: 400;
	line-height: 26.31px;
	word-wrap: break-word
}

li{
    color: #9c9696;
	font-size: 15px;
	font-family: Inter;
	font-weight: 600;
	word-wrap: break-word
}

a{
    color: #37393F;
    text-decoration: underline;
}

.episod{
    color: #941010;
	font-family: ahs;
	padding: 5px;
	font-size: 20px;
}

.episod-info{
    line-height: 1.40;
    letter-spacing: 1.12px;
    word-spacing: 1,12px;
    text-indent: 30px;
}

.links{
	color: #7D7D7D;
	font-size: 18px;
	font-family: Inter;
	font-weight: 400;
	line-height: 26.31px;
	word-wrap: break-word
}
